@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.main__section {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .main__section {
    width: 1440px;
  }
}

.section {
  width: 100%;
  padding: 0 20px;
  margin-top: 140px;
}
@media (min-width: 1200px) {
  .section {
    padding: 0 5vw;
  }
}
@media (min-width: 1440px) {
  .section {
    padding: 0 160px;
  }
}

.header {
  height: auto;
  background-image: url(../images/mobile/image-hero.jpg);
  background-size: cover;
}
@media (min-width: 992px) {
  .header {
    height: 650px;
    background-image: url(../images/desktop/image-hero.jpg);
  }
}

.navBar {
  width: 100%;
  height: 160px;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .navBar {
    padding: 0 160px;
  }
}

.menu_items {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (min-width: 992px) {
  .menu_items {
    flex-direction: row;
    height: 100px;
  }
}
.menu .menu_item {
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.menu .menu_item:hover::after {
  content: " ";
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -30%;
  transform: translate(-50%);
  background-color: hsl(0, 0%, 100%);
}
@media (min-width: 992px) {
  .menu .menu_item:hover::after {
    bottom: 25%;
  }
}
.menu .menu_item_link {
  color: hsl(0, 0%, 100%);
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.header__section {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 160px;
  margin: 0;
  display: flex;
  align-items: center;
}
.header__section_title {
  width: 100%;
  padding: 20px;
  font-size: 45px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  line-height: 1;
  border: solid 2px hsl(0, 0%, 100%);
}
@media (min-width: 768px) {
  .header__section_title {
    width: 650px;
    padding: 40px;
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .header__section {
    height: calc(100% - 160px);
  }
}

@media (max-width: 992px) {
  .header_menu {
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 100;
    transition: all 0.3s;
    width: 100%;
    height: 100vh;
    padding-top: 25vh;
    background-color: hsl(0, 0%, 0%);
  }
  .header_menu-active {
    top: 0;
  }
  .header_menu .menu_item {
    width: 100%;
    padding-left: 5vw;
  }
  .header_menu .menu_item:hover::after {
    width: 80%;
  }
  .header_menu .menu_item_link {
    width: 100%;
    display: block;
    font-size: 45px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }
  .brand {
    z-index: 101;
  }
  .btn_burger {
    margin: 0 0 0 auto;
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    background-color: inherit;
  }
  .btn_burger::before, .btn_burger::after, .btn_burger span {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s;
  }
  .btn_burger::before {
    top: 0;
  }
  .btn_burger::after {
    bottom: 0;
  }
  .btn_burger span {
    top: 11px;
  }
  .btn_burger-active::before {
    transform: rotate(45deg);
    top: 11px;
  }
  .btn_burger-active::after {
    transform: rotate(135deg);
    bottom: 11px;
  }
  .btn_burger-active span {
    display: none;
  }
  .btn_burger-active {
    border-radius: 50%;
    overflow: hidden;
    z-index: 101;
  }
}
.section__content {
  width: 100%;
  position: relative;
}

.content_image {
  width: 100%;
}
.content_image img {
  width: 100%;
}
@media (min-width: 992px) {
  .content_image {
    width: auto;
  }
  .content_image img {
    width: auto;
  }
}

.content_text {
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: hsl(0, 0%, 100%);
}
.content_text p {
  margin-top: 40px;
  color: hsl(0, 0%, 55%);
  font-family: "Alata", sans-serif;
  font-weight: 400;
  line-height: 2;
}
@media (min-width: 992px) {
  .content_text {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 545px;
    height: 340px;
    padding: 90px 10px 20px 90px;
  }
}

.h2 {
  color: hsl(0, 0%, 0%);
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}

.section__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 160px;
  height: 42px;
  background-color: hsl(0, 0%, 100%);
  border: solid 1px hsl(0, 0%, 41%);
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  align-self: center;
}
.btn:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}
@media (min-width: 1154px) {
  .btn {
    position: absolute;
    top: -116px;
    right: 0;
  }
}

.section__grid {
  margin-top: 80px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  justify-items: center;
  gap: 30px;
}
@media (min-width: 1200px) {
  .section__grid {
    grid-template-columns: repeat(4, auto);
  }
}

.grid__item {
  position: relative;
  width: 100%;
}
@media (min-width: 992px) {
  .grid__item {
    width: 256px;
    height: 450px;
  }
}
.grid__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid_link {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  align-items: end;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.grid_link:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.grid_link:hover h3 {
  color: hsl(0, 0%, 0%);
}
.grid_link h3 {
  color: hsl(0, 0%, 100%);
  font-size: 33.75px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}

.footer {
  background-color: hsl(0, 0%, 0%);
}

.section__row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .section__row {
    flex-direction: row;
  }
}

.section__col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section__col:first-child, .section__col:last-child {
  padding-top: 40px;
}
@media (min-width: 992px) {
  .section__col:first-child {
    align-items: flex-start;
    gap: 0;
  }
  .section__col:last-child {
    align-items: flex-end;
    padding-top: 0;
  }
}

.social_items {
  flex-direction: row;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Alata", sans-serif;
  letter-spacing: 0.1em;
}/*# sourceMappingURL=style.css.map */