.navbar {
  width: 100%;
  height: 90px;
  color: #ffffff;
  background-color: #0c0c0e;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar .navbar__title h1 {
  font-family: "Forum", cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.02em;
}
.navbar .navbar__navmenu {
  margin: 0 0 0 auto;
}
@media (max-width: 992px) {
  .navbar .navbar__navmenu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    top: -100vh;
    right: 0;
    transition: all 0.5s;
  }
  .navbar .navbar__navmenu-active {
    top: 0;
  }
}
.navbar .navbar__navmenu .navmenu_items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 992px) {
  .navbar .navbar__navmenu .navmenu_items {
    width: 332px;
    height: 570px;
    padding: 100px 107px;
    margin: 0 0 0 auto;
    background-color: #000000;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .navbar .navbar__navmenu .navmenu_items {
    flex-direction: row;
  }
}
.navbar .navbar__navmenu a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
.navbar .navbar__navmenu a:hover {
  color: #bb945f;
  text-decoration: underline;
}
.navbar .navbar__userico {
  width: 28px;
  height: 28px;
  margin: 0 0 0 auto;
  z-index: 100;
}
@media (min-width: 992px) {
  .navbar .navbar__userico {
    margin: 0 0 0 40px;
  }
}
.navbar .navbar__userico a {
  display: block;
  width: 100%;
  height: 100%;
}
.navbar .navbar__userico a:hover svg path {
  fill: #bb945f;
}
.navbar .navbar__userico svg {
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .btn_burger {
  margin-left: 40px;
  width: 45px;
  height: 20px;
  display: block;
  position: relative;
  z-index: 101;
  background-color: #000000;
}
.navbar .btn_burger::before, .navbar .btn_burger::after, .navbar .btn_burger span {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}
.navbar .btn_burger:hover::before, .navbar .btn_burger:hover::after, .navbar .btn_burger:hover span {
  background-color: #bb945f;
}
.navbar .btn_burger::before {
  top: 0;
}
.navbar .btn_burger::after {
  bottom: 0;
}
.navbar .btn_burger span {
  top: 8px;
}
.navbar .btn_burger-active::before {
  transform: rotate(45deg);
  top: 9px;
}
.navbar .btn_burger-active::after {
  transform: rotate(135deg);
  bottom: 9px;
}
.navbar .btn_burger-active span {
  display: none;
}
@media (min-width: 992px) {
  .navbar .btn_burger {
    display: none;
  }
}

.section__wellcome {
  width: 100%;
  height: 600px;
  padding: 0;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%), url(../images/header/Welcome-bg.png);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: start;
}
.section__wellcome_title {
  max-width: 600px;
  margin: 220px auto auto 0;
  padding: 35px 40px;
  background-color: #0c0c0e;
}
.section__wellcome_title h2,
.section__wellcome_title p {
  font-family: "Forum", cursive;
  font-weight: 400;
  font-size: inherit;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  word-wrap: break-word;
}
@media (min-width: 576px) {
  .section__wellcome_title {
    height: 220px;
    font-size: 40px;
  }
}

.container__footer {
  padding: 20px 20px 40px;
  background-color: #0c0c0e;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.container__footer a {
  color: #ffffff;
}
.container__footer a:hover {
  color: #bb945f;
}

.footer__row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}
.footer__row:first-child {
  margin-bottom: 10px;
}
.footer__row:last-child {
  margin-top: 30px;
  padding-top: 44px;
  border-top: solid 1px #ffffff;
}
.footer__row:nth-child(2) {
  flex-direction: column-reverse;
}

@media (min-width: 576px) {
  .container__footer {
    height: 250px;
    padding: 20px;
  }
  .footer__row {
    flex-direction: row;
  }
  .footer__row:nth-child(2) {
    flex-direction: inherit;
  }
}
.address,
.worktime {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
}

.day,
.time {
  text-align: right;
}

.socialbtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.socialbtn li {
  width: 24px;
  height: 24px;
}
.socialbtn a {
  width: 100%;
  height: 100%;
}
.socialbtn a:hover svg path {
  fill: #bb945f;
}

.year,
.rsschool,
.autor {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 20px;
}

.section__about.section {
  padding-bottom: 35px;
}
.section__about .section__description {
  margin-bottom: 20px;
}
.section__about .gallerie_wraper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section__about .gallerie_wraper .gallerie_content {
  width: 100%;
  overflow: hidden;
}
.section__about .gallerie_wraper .btn_scroll {
  height: 100%;
  padding: 73px 57px 25px;
}
@media (min-width: 768.5px) {
  .section__about .gallerie_wraper .btn_scroll {
    display: none;
  }
}
.section__about .gallerie_wraper .btn_scroll button {
  background: none;
}
.section__about_sliderLine {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s linear;
}
.section__about_sliderLine .sliderLine_item {
  width: 100%;
  flex-shrink: 0;
}
@media (min-width: 768.5px) {
  .section__about_sliderLine .sliderLine_item {
    width: 32.2%;
  }
  .section__about_sliderLine .sliderLine_item:not(:last-child) {
    margin-right: 1.7%;
  }
}
.section__about_sliderLine .sliderLine_item img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 560px;
}
.section__about_pagBtns {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
}
.section__about_pagBtns .pagBtn {
  width: 26px;
  height: 26px;
  position: relative;
  background: none;
}
.section__about_pagBtns .pagBtn::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0c0c0e;
}
.section__about_pagBtns .pagBtn:hover::after, .section__about_pagBtns .pagBtn:active::after, .section__about_pagBtns .pagBtn:focus::after, .section__about_pagBtns .pagBtn.active::after {
  background-color: #bb945f;
}
@media (min-width: 768.5px) {
  .section__about_pagBtns .pagBtn:nth-child(n+4) {
    display: none;
  }
}
@media (min-width: 768.5px) {
  .section__about_pagBtns {
    margin-top: 35px;
  }
}

.section__favorites {
  position: relative;
}
.section__favorites_filter {
  width: 100%;
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .section__favorites_filter {
    position: sticky;
    top: 0;
  }
  .section__favorites_filter.sticky {
    background-color: rgba(187, 148, 95, 0.7);
    padding: 10px 20px 20px;
    z-index: 105;
  }
}

.filter__season {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}
.filter__season .filter_title {
  text-align: left;
  font-weight: 700;
}

.filter_items {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter_items li {
  width: 120px;
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.filter_items li label {
  width: 85px;
  height: 34px;
  display: inline-flex;
  align-items: center;
}
.filter_items li:hover,
.filter_items label:hover,
.filter_items input:hover {
  cursor: pointer;
}
.filter_items label {
  font-weight: 400;
}
.filter_items input {
  width: 17px;
  height: 17px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 50%;
}
.filter_items input:checked {
  position: relative;
}
.filter_items input:checked::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background-color: #000000;
}
.filter_items input:checked + label, .filter_items input:hover + label {
  font-weight: 700;
}
@media (min-width: 576px) {
  .filter_items {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .filter_items {
    width: 700px;
  }
}

.favorites_library_wraper {
  width: 100%;
  height: 100%;
  margin-top: 35px;
  position: relative;
}

.section__favorites_library {
  width: 100%;
  position: relative;
  top: 0;
  transition: animation 2s;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  row-gap: 40px;
}
@media (min-width: 1220px) {
  .section__favorites_library {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }
}
.section__favorites_library.hide {
  display: none;
}
.section__favorites_library.show {
  display: grid;
}
.section__favorites_library.fadeOut {
  transition: 2s;
  animation: fadeOut 3s forwards;
}
.section__favorites_library.fadeIn {
  transition: 2s;
  animation: fadeIn 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    position: absolute;
    z-index: -10;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    position: relative;
    z-index: 10;
  }
  100% {
    opacity: 1;
  }
}
.library__item {
  width: 100%;
}

.item__container_content {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #000000;
}
.item__container_content .content_stuff {
  color: #000000;
  font-family: "Forum", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.item__container_content .content_stuff::after {
  content: " ";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #bb945f;
}
.item__container_content .content_title {
  margin-top: 20px;
}
.item__container_content .content_title h3,
.item__container_content .content_title h4 {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}
.item__container_content .content_title .book_title {
  text-transform: uppercase;
}
.item__container_content .content_title .book_autor {
  text-transform: capitalize;
}
.item__container_content .content_description {
  margin-top: 20px;
  width: 100%;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.item__container_content .content_btn {
  margin-top: 15px;
  width: 75px;
  height: 30px;
}
.item__container_content .content_btn .btn {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}
.item__container_content .content_btn .btn-buy:hover {
  border-color: #bb945f;
  background-color: #bb945f;
}
.item__container_content .content_btn .btn-own {
  color: #bb945f;
  border-color: #bb945f;
  cursor: auto;
}

.item__container_bookcover {
  max-width: 200px;
  max-height: 300px;
}
@media (min-width: 610px) {
  .item__container_bookcover {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.item__container_bookcover img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 610px) {
  .library__item {
    width: 590px;
    height: 555px;
    position: relative;
  }
  .item__container_content {
    max-width: 550px;
    height: 100%;
  }
  .content_description {
    max-width: 355px;
    height: 320px;
  }
}
.section__coffeshop .section__description {
  letter-spacing: 2px;
}

.section__coffeshop_grid {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
@media (min-width: 1200px) {
  .section__coffeshop_grid {
    flex-direction: row;
    justify-content: space-between;
  }
}
.section__coffeshop_grid .grid__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}
@media (min-width: 1200px) {
  .section__coffeshop_grid .grid__col {
    width: auto;
  }
}
.section__coffeshop_grid .grid__col .grid__col_title {
  color: #bb945f;
  font-family: "Forum", cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.section__coffeshop_grid .grid__col .grid__col_menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section__coffeshop_grid .grid__col:last-child {
  align-items: flex-end;
}
.section__coffeshop_grid .grid__col:last-child .grid__col_menu {
  align-items: flex-end;
}

.menu_item {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.item_coast {
  font-family: "Forum", cursive;
}
.item_coast::before {
  content: " ";
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #bb945f;
  vertical-align: middle;
  margin-right: 15px;
}

@media (min-width: 576px) {
  .menu_item {
    gap: 60px;
  }
  .item_coast::before {
    width: 100px;
    margin-right: 60px;
  }
}
.section__contacts_grid {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 100px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .section__contacts_grid {
    flex-direction: row;
    justify-content: space-between;
  }
}
.section__contacts_grid .grid__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}
@media (min-width: 1200px) {
  .section__contacts_grid .grid__col {
    width: auto;
  }
}
.section__contacts_grid .grid__col:last-child {
  max-width: 696px;
  height: 414px;
}
@media (min-width: 992px) {
  .section__contacts_grid .grid__col:last-child {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .section__contacts_grid .grid__col:last-child {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .section__contacts_grid .grid__col:last-child {
    width: 696px;
  }
}
.section__contacts_grid .grid__col:last-child .contacts_map {
  width: 100%;
  height: 100%;
}
.section__contacts_grid h3 {
  font-weight: 700;
}
.section__contacts_grid a {
  text-decoration: none;
  color: inherit;
}
.section__contacts_grid a:hover {
  color: #bb945f;
  font-weight: 700;
}

.contacts_items ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts_items li,
.contacts_items a {
  font-weight: 400;
}

.contacts_staff span {
  display: inline-block;
  margin-top: 20px;
  line-height: 40px;
}
.contacts_staff a {
  font-weight: 700;
}

.section__libcard_grid {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 1200px) {
  .section__libcard_grid {
    flex-direction: row;
    justify-content: space-between;
  }
}
.section__libcard_grid .grid__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  align-items: center;
  gap: 30px;
}
@media (min-width: 1200px) {
  .section__libcard_grid .grid__col {
    width: auto;
  }
}
.section__libcard_grid .grid__col .libcard_title h3 {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.section__libcard_grid .grid__col:last-child {
  align-items: center;
  gap: 40px;
}
.section__libcard_grid .grid__col:last-child h4 {
  color: #000000;
  text-align: center;
  font-family: "Forum", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.section__libcard_grid .grid__col:last-child p {
  display: flex;
  width: 85%;
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
}
@media (min-width: 768px) {
  .section__libcard_grid .grid__col:last-child p {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .section__libcard_grid .grid__col:last-child p {
    width: 456px;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .section__libcard_grid .grid__col:last-child {
    align-items: flex-end;
    gap: 35px;
  }
}

.libcard__form_cover {
  width: 100%;
  border: 3px solid #bb945f;
  padding: 20px 20px 30px;
}
.libcard__form_cover .findcard_form .form_cover_bg {
  width: 100%;
  background-color: #bb945f;
  padding: 20px 20px 25px;
}
.libcard__form_cover .findcard_form .findcard_title {
  display: inline-block;
  color: #000000;
  font-family: "Forum", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}
.libcard__form_cover .findcard_form input {
  width: 100%;
  height: 66px;
  border-radius: 10px;
  background: #ffffff;
  margin-bottom: 25px;
  padding: 8px 20px;
  color: #8e8e8e;
  font-family: "Forum", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}
.libcard__form_cover .findcard_form .form__btn_cover {
  width: 100%;
}
.libcard__form_cover .findcard_form .btn_submit {
  display: block;
  margin: 20px auto;
  padding: 10px 40px;
  border-radius: 2px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}
.libcard__form_cover .findcard_form .btn_submit:hover {
  background-color: #bb945f;
  border-color: #bb945f;
}
@media (min-width: 576px) {
  .libcard__form_cover {
    height: 386px;
  }
  .libcard__form_cover .form_cover_bg {
    width: 560px;
    height: 272px;
  }
  .libcard__form_cover input {
    width: 520px;
  }
}
@media (min-width: 768px) {
  .libcard__form_cover {
    width: 600px;
  }
}

.libcard_buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.libcard_btn {
  display: flex;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}
.libcard_btn:hover {
  background-color: #bb945f;
  border-color: #bb945f;
}

* {
  transition: all 0.5s ease 0.1s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #8e8e8e;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.section {
  width: 100%;
  padding: 20px 20px 40px;
  background-color: #ffffff;
}
.section__title {
  width: 100%;
}
.section__title h2 {
  text-align: center;
  color: #0c0c0e;
  font-family: "Forum", cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.section__title h2::after {
  content: " ";
  display: block;
  width: 50px;
  height: 1px;
  margin: 20px auto 0;
  background-color: #0c0c0e;
}
.section__description {
  width: 100%;
  margin-top: 40px;
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}/*# sourceMappingURL=style.css.map */