@import "_theme", "_header", "_footer", "_sec-About", "_sec-Favorite",
	"_sec-Library", "_sec-Coffe", "_sec-Contact", "_sec-Digital";

// # MAIN STYLES
// ###############################
* {
	transition: all 0.5s ease 0.1s;

	// @media (max-width: 768px) {
	// 	&:hover {
	// 		pointer-events: none;
	// 	}
	// }
}

// @media (hover: none) and (pointer: coarse) {
// 	* {
// 		pointer-events: none;
// 	}
// }

html {
	scroll-behavior: smooth;
}

body {
	background-color: $color-Gray;
}

.container {
	width: 100%;
	margin: 0 auto;

	@media (min-width: 1440px) {
		width: $width-main;
	}
}

// # MAIN SECTION STYLES
// ###############################
.section {
	width: 100%;
	padding: 20px 20px 40px;
	background-color: $color-Wite;

	&__title {
		width: 100%;

		h2 {
			text-align: center;
			color: $color-Dark;
			font-family: $ff-Forum;
			font-size: 40px;
			font-style: normal;
			font-weight: 400;
			line-height: 40px;
			letter-spacing: 2px;
			text-transform: capitalize;

			&::after {
				content: " ";
				display: block;
				width: 50px;
				height: 1px;
				margin: 20px auto 0;
				background-color: $color-Dark;
			}
		}
	}

	&__description {
		width: 100%;
		margin-top: 40px;
		color: $color-Black;

		text-align: center;
		font-family: $ff-Inter;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 40px;
	}
}
